
Slipstream.xcodeproj/project.xcworkspace/xcuserdata/miguelteixeira.xcuserdatad/UserInterfaceState.xcuserstate
Slipstream.xcodeproj/xcuserdata/miguelteixeira.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
