<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066399643686-g2gj6io553dunbrll1bvf5kn9oa3uil9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066399643686-g2gj6io553dunbrll1bvf5kn9oa3uil9</string>
	<key>API_KEY</key>
	<string>AIzaSyCyuVt2bWOl9xLrLPg0lPPrbgfyrycF_FE</string>
	<key>GCM_SENDER_ID</key>
	<string>1066399643686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomas.mamede.Slipstream.watchkitapp.watchkitextension</string>
	<key>PROJECT_ID</key>
	<string>slipstream-76796</string>
	<key>STORAGE_BUCKET</key>
	<string>slipstream-76796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066399643686:ios:be6577f147ea0d4cf70ee7</string>
</dict>
</plist>