<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066399643686-tb9hfgsb4um9kdftmoecl79iukok1t19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066399643686-tb9hfgsb4um9kdftmoecl79iukok1t19</string>
	<key>API_KEY</key>
	<string>AIzaSyCyuVt2bWOl9xLrLPg0lPPrbgfyrycF_FE</string>
	<key>GCM_SENDER_ID</key>
	<string>1066399643686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomasmamede.Slipstream.watchkitapp</string>
	<key>PROJECT_ID</key>
	<string>slipstream-76796</string>
	<key>STORAGE_BUCKET</key>
	<string>slipstream-76796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066399643686:ios:c8fd10dd29112772f70ee7</string>
	<key>DATABASE_URL</key>
	<string>https://slipstream-76796-default-rtdb.firebaseio.com</string>
</dict>
</plist>